@source './';

:root,
[data-theme='dark'] {
  /* Status colors */
  --seq-color-positive: #1fc266;
  --seq-color-negative: #c2501f;
  --seq-color-info: #0076cc;
  --seq-color-warning: #f4b03e;

  /* Text colors */
  --seq-color-primary: white;
  --seq-color-secondary: white;
  --seq-color-muted: var(--color-zinc-500);
  --seq-color-inverse: black;

  /* Background colors */
  --seq-color-background-primary: black;
  --seq-color-background-secondary: var(--color-zinc-900);
  --seq-color-background-contrast: rgba(0, 0, 0, 0.5);
  --seq-color-background-muted: rgba(255, 255, 255, 0.05);
  --seq-color-background-control: rgba(255, 255, 255, 0.25);
  --seq-color-background-inverse: rgba(255, 255, 255, 1);
  --seq-color-background-backdrop: rgba(34, 34, 34, 0.9);
  --seq-color-background-overlay: rgba(0, 0, 0, 0.7);
  --seq-color-background-raised: var(--color-zinc-800);
  --seq-color-background-input: var(--color-zinc-950);
  --seq-color-background-hover: var(--color-zinc-900);
  --seq-color-background-active: var(--color-zinc-700);

  /* Border colors */
  --seq-color-border-normal: var(--color-zinc-700);
  --seq-color-border-hover: var(--color-zinc-600);
  --seq-color-border-focus: var(--color-violet-500);
  --seq-color-border-error: rgba(255, 69, 0, 1);
  --seq-color-border-card: var(--color-zinc-800);
  --seq-color-border-button: var(--color-zinc-700);

  /* Drop shadow */
  --seq-color-drop-shadow: var(--color-zinc-950);

  /* Button colors */
  --seq-color-button-glass: var(--color-zinc-800);
  --seq-color-button-emphasis: rgba(0, 0, 0, 0.5);
  --seq-color-button-inverse: rgba(255, 255, 255, 0.8);

  /* Gradients */
  --seq-color-gradient-backdrop: linear-gradient(
    243.18deg,
    rgba(86, 52, 189, 0.85) 0%,
    rgba(49, 41, 223, 0.85) 63.54%,
    rgba(7, 98, 149, 0.85) 100%
  );
  --seq-color-gradient-primary: linear-gradient(
    89.69deg,
    #4411e1 0.27%,
    #7537f9 99.73%
  );
  --seq-color-gradient-secondary: linear-gradient(
    32.51deg,
    #951990 -15.23%,
    #3a35b1 48.55%,
    #20a8b0 100%
  );
  --seq-color-gradient-skeleton: linear-gradient(
    -45deg,
    transparent,
    var(--seq-color-background-secondary),
    transparent
  );
}

[data-theme='light'] {
  /* Status colors */
  --seq-color-positive: #1fc266;
  --seq-color-negative: #c2501f;
  --seq-color-info: #0076cc;
  --seq-color-warning: #f4b03e;

  /* Text colors */
  --seq-color-primary: var(--color-slate-800);
  --seq-color-secondary: var(--color-slate-800);
  --seq-color-muted: var(--color-slate-500);
  --seq-color-inverse: var(--color-slate-50);

  /* Background colors */
  --seq-color-background-primary: var(--color-slate-50);
  --seq-color-background-secondary: white;
  --seq-color-background-contrast: rgba(244, 244, 244, 0.5);
  --seq-color-background-muted: rgba(0, 0, 0, 0.05);
  --seq-color-background-control: rgba(0, 0, 0, 0.25);
  --seq-color-background-inverse: rgba(0, 0, 0, 1);
  --seq-color-background-backdrop: rgba(221, 221, 221, 0.9);
  --seq-color-background-overlay: rgba(244, 244, 244, 0.7);
  --seq-color-background-raised: white;
  --seq-color-background-input: var(--color-slate-50);
  --seq-color-background-hover: var(--color-slate-100);
  --seq-color-background-active: var(--color-slate-200);

  /* Border colors */
  --seq-color-border-normal: var(--color-slate-300);
  --seq-color-border-hover: var(--color-slate-400);
  --seq-color-border-focus: var(--color-violet-600);
  --seq-color-border-error: rgba(255, 69, 0, 1);
  --seq-color-border-card: var(--color-slate-200);
  --seq-color-border-button: var(--color-slate-300);

  /* Drop shadow */
  --seq-color-drop-shadow: var(--color-slate-500);

  /* Button colors */
  --seq-color-button-glass: white;
  --seq-color-button-emphasis: rgba(255, 255, 255, 0.5);
  --seq-color-button-inverse: rgba(0, 0, 0, 0.8);

  /* Gradients */
  --seq-color-gradient-backdrop: linear-gradient(
    243.18deg,
    rgba(86, 52, 189, 0.85) 0%,
    rgba(49, 41, 223, 0.85) 63.54%,
    rgba(7, 98, 149, 0.85) 100%
  );
  --seq-color-gradient-primary: linear-gradient(
    89.69deg,
    #4411e1 0.27%,
    #7537f9 99.73%
  );
  --seq-color-gradient-secondary: linear-gradient(
    32.51deg,
    #951990 -15.23%,
    #3a35b1 48.55%,
    #20a8b0 100%
  );
  --seq-color-gradient-skeleton: linear-gradient(
    -45deg,
    transparent,
    var(--seq-color-background-secondary),
    transparent
  );
}

@theme inline {
  --font-body:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'Roboto', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-primary: var(--seq-color-primary);
  --color-secondary: var(--seq-color-secondary);
  --color-muted: var(--seq-color-muted);
  --color-inverse: var(--seq-color-inverse);

  --color-positive: var(--seq-color-positive);
  --color-negative: var(--seq-color-negative);
  --color-info: var(--seq-color-info);
  --color-warning: var(--seq-color-warning);

  --color-background-primary: var(--seq-color-background-primary);
  --color-background-secondary: var(--seq-color-background-secondary);
  --color-background-contrast: var(--seq-color-background-contrast);
  --color-background-muted: var(--seq-color-background-muted);
  --color-background-control: var(--seq-color-background-control);
  --color-background-inverse: var(--seq-color-background-inverse);
  --color-background-backdrop: var(--seq-color-background-backdrop);
  --color-background-overlay: var(--seq-color-background-overlay);
  --color-background-raised: var(--seq-color-background-raised);
  --color-background-input: var(--seq-color-background-input);
  --color-background-hover: var(--seq-color-background-hover);
  --color-background-active: var(--seq-color-background-active);

  --color-border-normal: var(--seq-color-border-normal);
  --color-border-hover: var(--seq-color-border-hover);
  --color-border-focus: var(--seq-color-border-focus);
  --color-border-error: var(--seq-color-border-error);
  --color-border-card: var(--seq-color-border-card);
  --color-border-button: var(--seq-color-border-button);

  --color-button-glass: var(--seq-color-button-glass);
  --color-button-emphasis: var(--seq-color-button-emphasis);
  --color-button-inverse: var(--seq-color-button-inverse);

  --color-drop-shadow: var(--seq-color-drop-shadow);

  --background-image-gradient-backdrop: var(--seq-color-gradient-backdrop);
  --background-image-gradient-primary: var(--seq-color-gradient-primary);
  --background-image-gradient-secondary: var(--seq-color-gradient-secondary);
  --background-image-gradient-skeleton: var(--seq-color-gradient-skeleton);

  --animate-skeleton: skeleton 1s ease infinite;
  --animate-swipe-out: swipe-out 200ms ease-out;

  --shadow-primary: 0 0 16px 0
    color-mix(in oklab, var(--color-drop-shadow), transparent 70%);

  @keyframes skeleton {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes swipe-out {
    from {
      transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
      transform: translateX(100%);
    }
  }
}
